[Unit]
Description=xmr-node prober service
After=network.target

[Service]
Type=oneshot
User=ditatompel
WorkingDirectory=/path/to/project/dir
ExecStart=/path/to/project/dir/bin/xmr-nodes-static-linux-arm64 probe
TimeoutSec=90

# vim: filetype=systemd
