[Unit]
Description=xmr-node server service
After=network.target mariadb.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=ditatompel
Restart=always
WorkingDirectory=/path/to/project/dir
ExecStart=/path/to/project/dir/bin/xmr-nodes-static-linux-arm64 serve
SyslogIdentifier=xmr-node-server

# vim: filetype=systemd
